<h1>記事一覧</h1>

ブログは今 <%= Article.public_count %> 件あります。

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "新規作成", new_article_path %>